.app-content-dual-row {

    .app-container {
        padding-top: 82px;
        padding-bottom: 100px;

        @media (max-width: $mobile) {
            padding-top: 45px;
            padding-bottom: 41px;
        }
    }

    &__heading {
        margin-top: 0;
        margin-bottom: 50px;

        @media (max-width: $mobile) {
            margin-bottom: 32px;
        }
    }

    &__holder {
        display: flex;
        flex-wrap: wrap;
        column-gap: 32px;
        row-gap: 70px;
        text-align: center;
        justify-content: center;

        @media (max-width: $mobile) {
            row-gap: 38px;
        }
    }

    &__item {
        flex: 0 1 553px;
    }

    &__title {
        font-size: 26px;
        line-height: 120%;
        margin-top: 0;
        margin-bottom: 25px;
        font-weight: 600;

        @media (max-width: $mobile) {
            margin-bottom: 19px;
        }
    }

    &__text {
        margin: 0;
        line-height: 166%;
    }
}