$font1: "Poppins", sans-serif;
$font2: "Roboto", sans-serif;
$font3: "Mulish", sans-serif;
$font4: "Rubik", sans-serif;

$color-light: #fff;
$color-dark: #000;
$color-dark1: #333333;
$color-green: #79c843;

$mobile: 768px;

$transition1: all .25s linear;

$linear: all .25s linear;
